@import-normalize; /* bring in normalize.css styles */

:root {
  --mainTextCl: #121417;
  --secondTextCl: rgba(18, 20, 23, 0.5);
  --blueCl: #3470FF;
  --hoverBlueCl: #0B44CD;
  --whiteCl: #FFFFFF;
  --greyText: #8A8A89;
  --inputBg: #F7F7FB;
  --inputTexst: rgba(18, 20, 23, 0.2);
  --inputBorder: rgba(18, 20, 23, 0.05);
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  color: var(--mainTextCl);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}
